body {
  background-image: url('../img/foret.jpg');
  background-size: 100vw 100vh;
}

/* ma mise en forme css */

h1 {
  color: tomato;
  font-weight: 900;
}

/* sélecteur de l'id formulaire */

#formulaire {
  /* ajoute un bord noir */
  border: 1px solid black;
  /* arrondi les angles  */
  border-radius: 7px;
  min-width: 400px;
  width: 40%;
  margin-left: 30%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.753);
  box-shadow:30px 30px 60px black;
  text-align: center;
}

/* sélecteur de la classe */

.postit {
  background-color: burlywood;
  border-bottom-right-radius: 25px;
  width: 20%;
  min-width: 300px;
  /* Mets en à côté le conteneur postit */
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid darkgray;
  box-shadow: 15px 15px 25px grey;
  text-align: center;
}

.postit-titre {
  font-size: xx-large;
  text-decoration: underline tomato;
}

/* sélection des .datetime uniquement dans un .postit */

.datetime {
  font-size: x-large;
  font-weight: 900;
}